@using BlazorPizzaApp.Models

<div class="cart-item">
    <button type="button" class="close-button" @onclick="OnRemoved">×</button>
    <div class="title">@(Pizza.Size)" @Pizza.Special?.Name</div>
    <div class="item-price">
        £@Pizza.GetFormattedTotalPrice()
    </div>
    @if (Pizza.Toppings.Any())
    {
        <div class="toppings-list">
            @string.Join(", ", Pizza.Toppings.Select(t => t.Topping?.Name))
        </div>
    }
</div>

@code {
    [Parameter] public OrderPizza Pizza { get; set; } = new OrderPizza();
    [Parameter] public EventCallback OnRemoved { get; set; }
}
