@inherits LayoutComponentBase

<div class="page">
    <div class="top-bar">
        <div class="logo">
            <img src="img/logo.svg" alt="Blazing Pizza" />
        </div>
        <nav class="top-nav">
            <NavLink href="" Match="NavLinkMatch.All">
                <img src="img/pizza-slice.svg" />
                GET PIZZA
            </NavLink>
            <NavLink href="myorders">
                <img src="img/bike.svg" />
                MY ORDERS
            </NavLink>
        </nav>
        <div class="user-info">
            <button class="btn-signin">SIGN IN</button>
        </div>
    </div>

    <div class="content">
        @Body
    </div>
</div>
